.Header {
    height: 5rem;
    width:100%;
    max-width: 76.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    align-items: center;
    position: fixed;
    left:50%;
    top:0;
    transform: translateX(-50%);
}
.Title {
    font-size: 2.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bt {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.Back {
    left: 2rem;
}
.Cart {
    right: 2rem;
}
