.MypageContainer {
  background-color: var(--color-white);
  padding: 15px;

  .Inner {
  }

  h3 {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 5px;

    a {
      color: var(--color-main);
    }
  }
}

.MypageSection {
  padding-top: 30px;
  ul {
    li {
      display: flex;
      justify-content: space-between;
      background-color: var(--color-white);
      font-size: 15px;
      line-height: 45px;
      border-top: 1px solid #dadada;
      color: var(--color-800);

      &:nth-child(1) {
        border-top: none;
      }
    }
  }
}
