.sec{margin-bottom:5rem;}

.sale-list{
  display: flex;
  flex-direction: column;
}  

.sale-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:2rem;
  padding:0 2rem;
  overflow: hidden;
}

.sale-header .tit{font-size:1.8rem; line-height: 1.3; font-weight: 700;}
.sale-header .all{font-size:1.3rem; color:var(--color-main)}



.list-wrap{
  display: flex;
  overflow: auto;
  gap: 1rem;
  padding-right:2rem;
  margin-left:2rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.list-wrap::-webkit-scrollbar{
  display: none ;
}
.list-item{
  width: calc((100vw - 1rem) / 2.5);
  gap:2rem;
  flex: 0 0 auto;
  scroll-snap-align: start;
}