.PageContainer {
  background-color: #f6f6f6;
  // padding: 20px 0;
  height: 100%;
}

.Inner {
  background-color: var(--color-white);
  max-width: 76.8rem;
  width: 100%;
}

.TabAll {
  display: flex;
  flex-direction: column;

  padding: 10px 15px;
}

.TabMenu {
  display: flex;
  width: 100%;
  gap: 5px;
  padding-bottom: 35px;

  button {
    // padding: 7px 20px;
    border: 1px solid var(--color-200);
    width: 25%;
    padding: 0.8rem;
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-600);
  }

  & .active {
    border: 1px solid var(--color-main);
    color: var(--color-main);
  }
}

.TabContent {
  background-color: var(--color-white);
  text-align: left;

  // box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

  section {
    .OrderItemText {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .DateAndTime {
        font-size: 17px;
        font-weight: 500;

        span {
          letter-spacing: 0.03em;
        }
      }
    }

    .OrderDetail {
      display: flex;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      color: var(--color-600);

      &:hover {
        color: var(--color--900);
        font-weight: 600;
      }
    }

    .OrderListText {
      display: flex;
      padding-top: 20px;
      font-size: 16px;
      gap: 30px;
      flex-wrap: wrap;

      .OrderValue {
        color: var(--color-600);
      }
      ul {
        display: flex;
        flex-direction: column;

        li {
          line-height: 1.8;
        }
      }
    }
  }
}
