.PageContainer {
  background-color: #f6f6f6;
  padding: 10px;
}

.PageHeader {
  line-height: 50px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
  // border: 1px solid red;
}

.Contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Item {
  background-color: var(--color-white);
  border-radius: 6px;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.ItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.ItemContent {
  height: 0;
  overflow: hidden;
  border-top: 1px solid var(--color-100);
  padding-top: 15px;
  margin-top: 15px;
  font-size: 15px;
  transition: height 0.5s ease-out;
}

.ItemContent.open {
  height: auto;
}

.ItemDetail {
  display: flex;
  padding: 5px 0;
  align-items: center;

  .ProductImage {
    object-fit: cover;
    border-radius: 5px;
  }

  .OrderInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;

    .InfoTitle {
      font-weight: 400;
    }

    .ItemInfo .ItemInfoDetail {
      font-weight: 600;
      &:nth-child(2) {
        padding-left: 5px;
        padding-right: 10px;
        text-decoration: line-through;
        color: var(--color-400);
        font-size: 13px;
        font-weight: 400;
        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 11px;
          background-color: var(--color-400);
          margin-left: 15px;
        }
      }
    }
  }
}

// 주문자 정보
.UserInfo {
  display: flex;
  gap: 50px;
  font-size: 15px;

  .UserInfoDetail {
    li {
      padding: 6px;
    }
  }

  .InfoText {
    color: var(--color-600);
  }
}

// 배송지
.Address,
.Payment {
  // border-top: 1px solid var(--color-100);
  padding-top: 15px;
  // margin-top: 15px;
  font-size: 15px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .AddressInfo {
      line-height: 1.3;
      width: 80%;
      font-weight: 500;
      font-size: 16px;
      // width: 100%;
      // text-overflow: ellipsis;
      // overflow: hidden;
      // white-space: nowrap;
    }

    .AddressBtn {
      button {
        padding: 5px 10px;
        font-weight: 600;
        color: var(--color-700);
        border: 1px solid var(--color-200);
      }
    }
  }
}

// 결제 수단
.Payment {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .PaymentType {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 5px;

    button {
      color: var(--color-700);
      border: 1px solid var(--color-200);
      font-weight: 600;
    }
  }

  .Kakao {
    button {
      background-color: #fbd821;
      color: var(--color-700);
      font-weight: 600;
    }
  }
}

// 상품 금액
.Total {
  font-size: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  ul {
    display: flex;
    justify-content: space-between;
  }

  .DeliveryFee {
    padding-bottom: 10px;
  }

  .ItemHeader {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid var(--color-100);

    .TotalAmout {
      font-size: 17px;
      font-weight: 600;
    }
  }
}

// 결제 텍스트 & 최종 결제 버튼
.PaymentTitle {
  font-size: 15px;
}
.PaymentButton {
  padding-top: 15px;

  button {
    font-size: 16px;
  }
}
